---
import Card from "../components/Card.astro";
import LinkColumn from "../components/LinkColumn.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frontend Mentor | Insure landing page">
  <!-- TODO: handle zoom-in issues -->
  <!-- TODO: change spacer padding bottoms to margin bottoms  -->
  <!-- TODO: handle font loading layout shifts  -->
  <header
    class="flex justify-between items-center max-w-6xl mx-auto py-5 uppercase font-karla font-semibold tracking-widest text-sm"
  >
    <div>
      <img src="images/logo.svg" alt="insure logo" />
    </div>

    <nav>
      <ul class="flex gap-5 items-center">
        {
          ["How we work", "Blog", "Account"].map((navItem) => (
            <li>
              <a href="#" class="text-my_neutral-800">
                {navItem}
              </a>
            </li>
          ))
        }
        <li>
          <a
            href="#"
            class="inline-block px-7 py-2 border-2 border-my_neutral-900 text-my_neutral-900"
            >View plans</a
          >
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="relative -z-10 overflow-hidden">
      <!-- Decoration for the section -->
      <!-- TODO: handle responsive decoration & image switching -->
      <div class="absolute -z-10 w-full h-4/6 bg-primary-900"></div>
      <img
        class="absolute z-10 -right-2 -top-20"
        src="images/bg-pattern-intro-right-desktop.svg"
        alt=""
      />
      <img
        class="absolute z-10 -left-2 -bottom-20"
        src="images/bg-pattern-intro-left-desktop.svg"
        alt=""
      />

      <!-- Actual content -->
      <div class="max-w-6xl mx-auto grid grid-cols-2 gap-10 py-28">
        <picture class="order-2">
          <!-- TODO: image loading is pending -->
          <!-- TODO: fix weird image right margin -->
          <source type="image/jpg" srcset="" />
          <img
            src="images/image-intro-desktop.jpg"
            alt="a familiy of four taking each other's hand"
          />
        </picture>
        <div>
          <!-- Line decoration -->
          <div class="w-40 pt-0.5 bg-white"></div>
          <!-- TODO: make space breaks where they should go -->
          <h1 class="mt-12 text-white text-7xl font-dm_serif">
            Humanizing your insurance.
          </h1>
          <p class="mt-6 text-my_neutral-100 text-sm leading-6 tracking-wider">
            Get your life insurance coverage easier and faster. We blend our
            expertise and technology to help you find the plan that's right for
            you. Ensure you and your loved ones are protected.
          </p>
          <a
            href="#"
            class="inline-block mt-8 px-7 py-2 text-white font-semibold text-sm border-2 uppercase border-white-900"
            >View plans</a
          >
        </div>
      </div>
    </section>

    <section class="max-w-6xl mx-auto py-5">
      <div class="w-40 pt-0.5 bg-primary-900"></div>
      <h1 class="mt-14 mb-20 text-7xl font-dm_serif">We're different</h1>
      <!-- TODO: make grid responsive -->
      <div class="grid grid-cols-3 gap-4">
        <Card
          title="Snappy Process"
          description="Our application process can be completed in minutes, not hours. Don't get stuck filling in tedious forms."
          iconSrc="images/icon-snappy-process.svg"
        />
        <Card
          title="Affordable Prices"
          description="We don't want you worrying about high monthly costs. Our prices may be low, but we still offer the best coverage possible."
          iconSrc="images/icon-affordable-prices.svg"
        />
        <Card
          title="People First"
          description="Our plans aren't full of conditions and clauses to prevent payouts. We make sure you're covered when you need it."
          iconSrc="images/icon-people-first.svg"
        />
      </div>
    </section>

    <section class="max-w-6xl mx-auto my-32 p-16 bg-primary-900 text-white">
      <h1 class="text-5xl">Find out more about how we work</h1>
      <a href="#">How we work</a>
    </section>
  </main>

  <footer>
    <div>
      <div>
        <img src="images/logo.svg" alt="insure logo" />
      </div>

      <nav>
        <ul>
          {
            ["facebook", "twitter", "pinterest", "instagram"].map(
              (socialName) => (
                <li>
                  <a href="#">
                    <img src={`images/icon-${socialName}.svg`} />
                    <span class="sr-only">socialName</span>
                  </a>
                </li>
              )
            )
          }
        </ul>
      </nav>
    </div>

    <div>
      <LinkColumn
        title="Our company"
        links={["How we work", "Why Insure?", "View plans", "Reviews"]}
      />
      <LinkColumn
        title="Help me"
        links={["FAQ", "Terms of use", "Privacy policy", "Cookies"]}
      />
      <LinkColumn title="Contact" links={["Sales", "Support", "Live chat"]} />
      <LinkColumn title="Others" links={["Careers", "Press", "Licenses"]} />
    </div>

    <div>
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
        >Frontend Mentor</a
      >. Coded by Pedro Alonso Moreno Salcedo.
    </div>
  </footer>
</Layout>
