---
import Differentiator from "../components/Differentiator.astro";
import LinkColumn from "../components/LinkColumn.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frontend Mentor | Insure landing page">
  <!-- TODO: handle zoom-in issues -->
  <!-- TODO: change spacer padding bottoms to margin bottoms  -->
  <!-- TODO: handle font loading layout shifts  -->
  <header>
    <div class="mx-auto max-w-6xl">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="flex items-center justify-between p-6">
          <div>
            <img src="images/logo.svg" alt="insure" />
          </div>

          <button class="sm:hidden">
            <img src="images/icon-hamburger.svg" alt="" />
            <span class="sr-only">Toggle menu</span>
          </button>
        </div>

        <div
          class="relative z-0 bg-my-neutral-900 px-6 pt-12 pb-72 sm:block sm:bg-transparent sm:p-0"
        >
          <nav
            class="flex flex-col gap-8 text-center sm:flex-row sm:items-center"
          >
            <a
              href="#"
              class="inline-block uppercase tracking-widest text-my-neutral-100 sm:text-sm sm:text-my-neutral-800"
            >
              How we work
            </a>
            <a
              href="#"
              class="inline-block uppercase tracking-widest text-my-neutral-100 sm:text-sm sm:text-my-neutral-800"
            >
              Blog
            </a>
            <a
              href="#"
              class="inline-block uppercase tracking-widest text-my-neutral-100 sm:text-sm sm:text-my-neutral-800"
            >
              Account
            </a>
            <a
              href="#"
              class="inline-block border border-my-neutral-100 py-3 px-6 uppercase tracking-widest text-my-neutral-100 sm:border-my-neutral-900 sm:text-sm sm:text-my-neutral-900"
            >
              View plans
            </a>
          </nav>
          <img
            src="images/bg-pattern-mobile-nav.svg"
            alt=""
            class="absolute right-0 bottom-0 max-h-52 w-full sm:hidden"
          />
        </div>
      </div>
    </div>
  </header>

  <main>
    <section>
      <!-- Decoration for the section -->
      <!-- TODO: handle responsive decoration & image switching -->
      <div class="bg-primary-900"></div>
      <img src="images/bg-pattern-intro-right-desktop.svg" alt="" />
      <img src="images/bg-pattern-intro-left-desktop.svg" alt="" />

      <!-- Actual content -->
      <div class="mx-auto max-w-6xl">
        <!-- TODO: image loading is pending -->
        <!-- TODO: fix weird image right margin -->
        <div>
          <img
            src="images/image-intro-desktop.jpg"
            alt="A familiy of four taking each other's hand"
          />
        </div>

        <div>
          <!-- Line decoration -->
          <div class="bg-my-neutral-100"></div>
          <!-- TODO: make space breaks where they should go -->
          <h1>Humanizing your insurance.</h1>
          <p>
            Get your life insurance coverage easier and faster. We blend our
            expertise and technology to help you find the plan that's right for
            you. Ensure you and your loved ones are protected.
          </p>
          <a href="#">View plans</a>
        </div>
      </div>
    </section>

    <section>
      <div>
        <div class="bg-primary-900"></div>
        <h1>We're different</h1>
        <!-- TODO: make grid responsive -->
        <div>
          <Differentiator
            title="Snappy Process"
            description="Our application process can be completed in minutes, not hours. Don't get stuck filling in tedious forms."
            iconSrc="images/icon-snappy-process.svg"
          />
          <Differentiator
            title="Affordable Prices"
            description="We don't want you worrying about high monthly costs. Our prices may be low, but we still offer the best coverage possible."
            iconSrc="images/icon-affordable-prices.svg"
          />
          <Differentiator
            title="People First"
            description="Our plans aren't full of conditions and clauses to prevent payouts. We make sure you're covered when you need it."
            iconSrc="images/icon-people-first.svg"
          />
        </div>
      </div>
    </section>

    <section>
      <div>
        <!-- Decoration -->
        <img src="images/bg-pattern-how-we-work-mobile.svg" alt="" />

        <!-- Actual content -->
        <h1>Find out more about how we work</h1>
        <a href="#">How we work</a>
      </div>
    </section>
  </main>

  <footer>
    <!-- Decoration for the section -->
    <img src="images/bg-pattern-footer-mobile.svg" alt="" />

    <!-- Actual content -->
    <div class="mx-auto max-w-6xl">
      <div>
        <div>
          <img src="images/logo.svg" alt="insure logo" />
        </div>

        <nav>
          {
            ["facebook", "twitter", "pinterest", "instagram"].map((social) => (
              <a href="#">
                <img src={`images/icon-${social}.svg`} alt="" />
                <span class="sr-only">{social}</span>
              </a>
            ))
          }
        </nav>
      </div>

      <div>
        <LinkColumn
          title="Our company"
          links={["How we work", "Why Insure?", "View plans", "Reviews"]}
        />
        <LinkColumn
          title="Help me"
          links={["FAQ", "Terms of use", "Privacy policy", "Cookies"]}
        />
        <LinkColumn title="Contact" links={["Sales", "Support", "Live chat"]} />
        <LinkColumn title="Others" links={["Careers", "Press", "Licenses"]} />
      </div>

      <p>
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">
          Frontend Mentor
        </a>. Coded by Pedro Alonso Moreno Salcedo.
      </p>
    </div>
  </footer>
</Layout>
