---
import Differentiator from "../components/Differentiator.astro";
import LinkColumn from "../components/LinkColumn.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frontend Mentor | Insure landing page">
  <!-- TODO: handle zoom-in issues -->
  <!-- TODO: change spacer padding bottoms to margin bottoms  -->
  <!-- TODO: handle font loading layout shifts  -->
  <header>
    <div class="mx-auto max-w-6xl px-4">
      <div>
        <img src="images/logo.svg" alt="insure" />
      </div>

      <button>
        <img src="images/icon-hamburger.svg" alt="" />
        <span class="sr-only">Toggle menu</span>
      </button>

      <!-- TODO: add div here? -->
      <nav>
        <a href="#">How we work</a>
        <a href="#">Blog</a>
        <a href="#">Account</a>
        <a href="#">View plans</a>
        <img src="images/bg-pattern-mobile-nav.svg" alt="" />
      </nav>
    </div>
  </header>

  <main>
    <section>
      <!-- Decoration for the section -->
      <!-- TODO: handle responsive decoration & image switching -->
      <div class="bg-primary-900"></div>
      <img src="images/bg-pattern-intro-right-desktop.svg" alt="" />
      <img src="images/bg-pattern-intro-left-desktop.svg" alt="" />

      <!-- Actual content -->
      <div class="mx-auto max-w-6xl">
        <!-- TODO: image loading is pending -->
        <!-- TODO: fix weird image right margin -->
        <div>
          <img
            src="images/image-intro-desktop.jpg"
            alt="A familiy of four taking each other's hand"
          />
        </div>

        <div>
          <!-- Line decoration -->
          <div class="bg-my-neutral-100"></div>
          <!-- TODO: make space breaks where they should go -->
          <h1>Humanizing your insurance.</h1>
          <p>
            Get your life insurance coverage easier and faster. We blend our
            expertise and technology to help you find the plan that's right for
            you. Ensure you and your loved ones are protected.
          </p>
          <a href="#">View plans</a>
        </div>
      </div>
    </section>

    <section>
      <div>
        <div class="bg-primary-900"></div>
        <h1>We're different</h1>
        <!-- TODO: make grid responsive -->
        <div>
          <Differentiator
            title="Snappy Process"
            description="Our application process can be completed in minutes, not hours. Don't get stuck filling in tedious forms."
            iconSrc="images/icon-snappy-process.svg"
          />
          <Differentiator
            title="Affordable Prices"
            description="We don't want you worrying about high monthly costs. Our prices may be low, but we still offer the best coverage possible."
            iconSrc="images/icon-affordable-prices.svg"
          />
          <Differentiator
            title="People First"
            description="Our plans aren't full of conditions and clauses to prevent payouts. We make sure you're covered when you need it."
            iconSrc="images/icon-people-first.svg"
          />
        </div>
      </div>
    </section>

    <section>
      <div>
        <!-- Decoration -->
        <img src="images/bg-pattern-how-we-work-mobile.svg" alt="" />

        <!-- Actual content -->
        <h1>Find out more about how we work</h1>
        <a href="#">How we work</a>
      </div>
    </section>
  </main>

  <footer>
    <!-- Decoration for the section -->
    <img src="images/bg-pattern-footer-mobile.svg" alt="" />

    <!-- Actual content -->
    <div class="mx-auto max-w-6xl">
      <div>
        <div>
          <img src="images/logo.svg" alt="insure logo" />
        </div>

        <nav>
          {
            ["facebook", "twitter", "pinterest", "instagram"].map((social) => (
              <a href="#">
                <img src={`images/icon-${social}.svg`} alt="" />
                <span class="sr-only">{social}</span>
              </a>
            ))
          }
        </nav>
      </div>

      <div>
        <LinkColumn
          title="Our company"
          links={["How we work", "Why Insure?", "View plans", "Reviews"]}
        />
        <LinkColumn
          title="Help me"
          links={["FAQ", "Terms of use", "Privacy policy", "Cookies"]}
        />
        <LinkColumn title="Contact" links={["Sales", "Support", "Live chat"]} />
        <LinkColumn title="Others" links={["Careers", "Press", "Licenses"]} />
      </div>

      <p>
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">
          Frontend Mentor
        </a>. Coded by Pedro Alonso Moreno Salcedo.
      </p>
    </div>
  </footer>
</Layout>
