---
export interface Props {
  title: string;
  description: string;
  iconSrc: string;
}

const { title, description, iconSrc } = Astro.props;
---

<div>
  <img class="mb-8" src={iconSrc} alt="" />
  <h2 class="mb-5 text-3xl font-dm_serif">{title}</h2>
  <p class="text-my_neutral-800 font-karla">{description}</p>
</div>
