---
export interface Props {
  title: string;
  description: string;
  iconSrc: string;
}

const { title, description, iconSrc } = Astro.props;
---

<div>
  <img src={iconSrc} alt="" />
  <div class="pt-8"></div>
  <h2 class="text-3xl font-dm_serif">{title}</h2>
  <div class="pt-5"></div>
  <p class="text-my_neutral-800 font-karla">{description}</p>
</div>
