---
export interface Props {
  title: string;
  description: string;
  iconSrc: string;
}

const { title, description, iconSrc } = Astro.props;
---

<div>
  <img src={iconSrc} alt="" class="mx-auto sm:mx-0" />
  <h2 class="mt-8 font-dm-serif text-3xl">{title}</h2>
  <p class="mt-4 text-my-neutral-800">{description}</p>
</div>
