---
export interface Props {
  title: string;
  description: string;
  iconSrc: string;
}

const { title, description, iconSrc } = Astro.props;
---

<div>
  <img src={iconSrc} alt="" />
  <h2>{title}</h2>
  <p>{description}</p>
</div>
